@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Supreme;
    src: url(../components/ui/fonts/SupremeLL-Jumbo.otf);
  }

  @font-face {
    font-family: SocialBook;
    src: url(../components/ui/fonts/ABCSocial-Book.otf);
  }

  @font-face {
    font-family: SocialBold;
    src: url(../components/ui/fonts/ABCSocial-Bold.otf);
  }
}

:root {
  background-color: #1B6CFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #1B6CFF;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.supreme {
  font-family: Supreme, sans-serif;
}

.socialBook {
  font-family: SocialBook, sans-serif;
}

.socialBold {
  font-family: SocialBold, sans-serif;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.pulse2 {
  animation: pulse-animation2 1.9s infinite;
}

@keyframes pulse-animation2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.nextBtn {
  background: var(--Green, #00DE60);
  box-shadow: 0px 0px 0px 7px rgba(0, 222, 96, 0.40), 0px 0px 0px 14px rgba(0, 222, 96, 0.20);
}

.MuiSlider-root {
  height: 40px !important;
}

.MuiSlider-track {
  background-color: #4CE88F !important;
  border-radius: 40px !important;
  border: none !important;
  transition: all 0.3s ease 0s !important;
}

.MuiSlider-rail {
  background-color: #5F98FF !important;
  border-radius: 40px !important;
}

.MuiSlider-thumb {
  width: 64px !important;
  height: 64px !important;
  background-color: white !important;
  transition: all 0.3s ease 0s !important;
}

.MuiSlider-thumb.Mui-active {
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.16), 0px 0px 0px 12px rgba(255, 255, 255, 0.16) !important;
}

.MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.16), 0px 0px 0px 12px rgba(255, 255, 255, 0.16) !important;
}

.MuiSlider-valueLabel {
  background-color: #5F98FF !important;
  font-family: SocialBold, sans-serif;
  border-radius: 20px !important;
  top: -15px !important;
  padding: 0.25rem 1rem !important;
}

.MuiSlider-mark {
  height: 60px !important;
  top: 60% !important;
}

.MuiSlider-root {
  height: 40px !important;
}

.MuiSlider-markLabel {
  font-family: SocialBold, sans-serif !important;
  font-size: 26px !important;
  color: white !important;
  top: 90px !important;
  white-space: unset !important;
  width: 150px !important;
  text-align: center !important;
  line-height: 1.3 !important;
}

.MuiSlider-markLabel {
  font-family: SocialBold, sans-serif !important;
  font-size: 26px !important;
  color: white !important;
  top: 90px !important;
  white-space: unset !important;
  width: 150px !important;
  text-align: center !important;
  line-height: 1.3 !important;
}
.MuiSlider-mark[data-index="0"],
.MuiSlider-mark[data-index="last"] {
  display: none;
}
.css-hzp7sc-MuiSlider-mark {
  height: 60px !important;
  top: 60% !important;
  background-color: white !important;
}

.checkAdressBtn {
  box-shadow: 0px 0px 0px 6.728px rgba(27, 108, 255, 0.40), 0px 0px 0px 13.456px rgba(27, 108, 255, 0.20);
}

.checkAdressLine {
  background: linear-gradient(90deg, #0481F5 0%, #55ACA6 35.5%, #77C474 71%, #9EE11D 100%);
}

.checkAdressBlockShadow {
  box-shadow: 0px 20px 54.4px -10px rgba(0, 0, 0, 0.25);
}

